body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
}

.khung{
    border: 2px solid blue;
    padding: 10px;
    margin: 20px;
    background-color: #fbc293;
}

.chudau{
font-size: 70px;
    font-weight: bold;
    float: left;
    line-height: 1;
    padding-right: 10px;
}