body{
    background-image: url(ajanda.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
} 

h1{
    text-align: center;
     background: linear-gradient(to right ,skyblue, lightgreen );

    background-repeat: no-repeat;
    background-attachment: fixed; 
}
p{
     text-align: center;
     background: linear-gradient(to right ,skyblue, lightgreen );

    background-repeat: no-repeat;
    background-attachment: fixed; 
}